{% extends 'layout.html' %}
{% block title %} Informacion General {% endblock %}
{% block header_path_title %} Pacientes {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>
				Informacion General
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="text-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/9KtAoimiEzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
